
.profileInfo {
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    &.profileInfo:hover {
        cursor: pointer;
        transition: 0.3s;
        background-color: $pal-text-footer;
        color: $pal-sec;
    }
}

.userData {
    all: unset;
    @extend .gwuData;
    box-sizing: border-box;
    border: 0.1em solid $pal-text;
    border-radius: 2em;
    width: 10em;
    height: 2.5em;
    &.userData:focus{
        border: black solid 0.2em;
    }
}

