
.profileInfo {
    box-sizing: border-box;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    border: 0.1em $pal-text solid;
    margin-bottom: 0.2em;
    &.profileInfo:hover {
        cursor: pointer;
        transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        background-color: $pal-text-footer;
        color: $pal-sec;
        border: 0.2em $pal-text-footer solid;
    }
}

.userData {
    all: unset;
    @extend .gwuData;
    box-sizing: border-box;
    border: 0.1em solid $pal-text;
    border-radius: 2em;
    width: 10em;
    height: 2.5em;
    &.userData:focus{
        border: black solid 0.2em;
    }
}

