
.headerView {
    @extend .center;
    flex-direction: row;
    overflow: hidden;
    padding: 0.5% 0 0.5% 0;
    background-color:$pal-main;
    color: $pal-sec;
    width: 100%;
    
}

.headerLogo{
    width: 3.5em;
    transition: 0.3s;
}

.headerLogo:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.headerLinks {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 65em){
    .headerLinks {
        display: grid;
        grid-template-columns: repeat(3, 0.1fr);
        grid-template-rows: repeat(3, 0.1fr);
    }
}

@media (max-width: 45em){
    .headerLinks {
        display: grid;
        grid-template-columns: repeat(2, 0.1fr);
        grid-template-rows: repeat(4, 0.1fr);
    }
}

.headerUser{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.linkLogout {
    margin: 1em;
    transition: 0.2s;
}

.linkLogout:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s;
}