
.gwuData {
    // all:unset;
    overflow: hidden;
    @extend .center;
    align-items: flex-start;
    justify-content: left;
    border: $pal-text 0.05em solid;
    width: 100%;
    padding: 1%;
    margin: 0.2%;
    border-radius: 0.2em;
}
